<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Welcome</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light">

  <div class="container mt-5">
    <h2 class="text-center mb-4">Welcome</h2>


    <div class="table-responsive">
      <table class="table table-bordered table-striped text-center">
        <thead class="table-dark">
          <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Date of Birth</th>
            <th>Gender</th>
            <th>Age</th>
            <th>Blood Group</th>
            <th>Mobile number</th>
            <th>Address</th>
            <th>District</th>
            <th>Donated date</th>
            <th>Certificate</th>

             <th>Email</th>
            <th>Username</th>

        </thead>
        <tbody>
          {{ data }}
          <tr>
            <td>{{ data.id }}</td>
            <td>{{ data.fname }}</td>
            <td>{{ data.lname }}</td>
            <td>{{ data.dob }}</td>
            <td>{{ data.gender }}</td>
            <td>{{ data.age }}</td>
            <td>{{ data.bloodgroup }}</td>
            <td>{{ data.mob }}</td>
            <td>{{ data.address }}</td>
            <td>{{ data.district }}</td>
            <td>{{ data.donateddate }}</td>
            <td>{{ data.certificate}}</td>

            <td>{{ data.userid.email }}</td>
            <td>{{ data.userid.username }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="text-center mt-4">
        
      <a href="{% url 'donor_edit' %}" class="btn btn-success me-2">Edit</a>

       <a href="{% url 'donor_delete' data.id  %}" class="btn btn-danger me-2">Delete</a>
     
      <a href="{% url 'donor' %}" class="btn btn-primary me-2">Back</a>
    </div>
  </div>

</body>
</html>
